#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.accountTable .ag-center-cols-viewport {
  min-height: unset !important;
  /* Removes the default min-height */
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Speed up all MantineAgGridReact transitions */
/* .mantineAgGrid {
  --ag-transition-speed: 50ms;
}

.ag-row-animation {
  transition-duration: var(--ag-transition-speed, 300ms);
} */

.ag-row-animation .ag-row {
  transition: transform 0.1s, top 0.2s, background-color 0.2s, opacity 0.2s;
}
/* Remove trailing space after rows for AG Grid instances using domLayout="autoHeight" */
/* .ag-grid-autoheight .ag-center-cols-container {
	padding-bottom: 0 !important;
}
.ag-grid-autoheight .ag-body-viewport {
	overflow: visible;
}
.ag-grid-autoheight .ag-root-wrapper {
	margin-bottom: 0 !important;
}
.ag-theme-alpine .ag-body,
.ag-theme-alpine .ag-center-cols-clipper {
	padding-bottom: 0 !important;
} */